<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title><%= title %></title>
	<link rel="stylesheet" href="">
</head>
<body>
	<div id="app"></div>
	<script src="lib/react/react.js"></script>
	<script src="lib/react/react-dom.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.24/browser.min.js"></script>
	<script type="text/babel" src="js/index.js"></script>
</body>
</html>