*{
    -webkit-overflow-scrolling : touch;
}
body{
    min-width: 1000px;
}

a,a:hover,a:link,a:visited,a:active {text-decoration:none !important;}

.transform_scale{
    letter-spacing: 0.01rem;
    word-spacing: 0.01rem;
    -moz-transform:scale(0.7,0.7);
    -webkit-transform:scale(0.7,0.7);
    -o-transform:scale(0.7,0.7);
    transform: scale(0.7,0.7);
}


.mask{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 999;
    display: none;
}

.mask .instructions{
    position: absolute;
    background: #fff;
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;
    overflow: auto;
    border-radius: 5px;
}

.mask .instructions .close{
    position: fixed;
    right: 10%;
    top: 10%;
    padding:5px 10px 5px 10px;
    font-size: 1.5rem;
    cursor: pointer;
}

.mask .instructions p{
    line-height: 35px;
    font-size: 1.5rem;
}

.mask .instructions ul{
    padding:10px 15px 30px;
}

.mask .instructions ul li{
    line-height: 20px;
    text-align: left;
    text-indent:1rem;
    margin-bottom: 5px;
}

.mask .instructions ul .label{
    text-indent:0rem;
    margin-top: 10px;
    font-weight: bold;
}

.header .header_info,.date .date_info,.content .info,.logo .search
{
    width: 800px;
    margin: 0 auto;
    padding: 15px 0;
}

.logo{
    background-color: #f6501e;
}

.logo .search{
    height: 50px;
}


.logo .search div{
    float: left;
    height: 50px;
    width: 50%;
    line-height: 50px;
    text-align: left;
    position: relative;
    color: #fff;
}

.logo .search .right_div{
    text-align: right;
}

.logo .search div span{
    font-size: 2.5rem;
}

.logo .search div .right{
    font-weight: bold;
}

.logo .search div input{
    text-align: left;
    padding-left: 5px;
    font-size: 1rem;
    width: 220px;
    height: 20px;
    border: 0;
    padding-right: 25px;
}

.logo .search div i{
    cursor: pointer;
    width: 20px;
    height: 18px;
    background-color: red;
    background-image: url('../images/ss.png');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: 2px;
    top: 16px;
}


.header{
    background-color: #eaecee;
}

.header .header_info{

}

.header .header_info ul{
    display: table;
}

.header .header_info ul li{
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #fff;
    margin-right: 20px;
}

.header .header_info ul li div{
    width: 80px;
    height: 80px;
    display: table-cell;
    vertical-align: middle;
}

.header .header_info ul li div p{
    color: #595856;
}

.header .header_info ul li div .bottom{
    color: #62615F;
    /*font-size: 0.1rem;*/
    width: 110%;
    text-indent: -1rem;
}

.header .header_info .introducing{
    display: inline-block;
    position: absolute;
    top: 50px;
    right: 0px;
    padding:5px 15px;
    background-color: #00cfad;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
}

.date{
    padding: 10px 0px;
    background-color: #f3f4f6;
}

.date .date_info{
    padding: 0;
    height:25px;
}

.date .select_data1{
    position: absolute;
    left:0px;
    line-height:25px;
    z-index: 2;
}

.date .select_data1 select{
    font-size:50px;
}

.date div{
    line-height: 25px;
    z-index: 1;
}

.date div .date_num{
    background-color: #00cfad;
    color:#fff;
    padding:5px 3px;
}

.date div .down{
    overflow: hidden;
    height: 10px;
    display: inline-block;
    font-size:25px;
}

.content{
    padding-bottom: 70px;
    background-color: #ffffff;
}

.content .info{
    background-color: #fff;
    padding: 0px
}


.content .info .left{
    width:150px;
    float:left;
    background:#f3f4f6;
}

.content .info .right{
    width:650px;
    float:left;
    margin-bottom: 100px;
}


.content .info .left .title{
    font-size:20px;
    line-height:55px;
    text-indent:25px;
    color：#5a5a5a;
    background:#dbe3e3 url('../images/hy.png') 40px center no-repeat;
}

.content .info .left li a{
    text-indent:25px;
    background:url('../images/hy_down.png') 40px center no-repeat;
    line-height: 40px;
    color:#bfc0c1;
    display:block;
}

.content .info .left li a:hover{
    background:#eaecee url('../images/hy_down2.png') 35px center no-repeat;
    color:#00cfad;
    text-indent:20px;
    border-left: 5px #00CFAE solid;
}

.content .info .left .active a{
    background:#eaecee url('../images/hy_down2.png') 35px center no-repeat;
    color:#00cfad;
    text-indent:20px;
    border-left: 5px #00CFAE solid;
}

.table{
    margin:0 auto;
    padding:5px 0 10px;
    position: relative;
}


.table .title{
    position: absolute;
    top: 5px;
    left: 8px;
    color: #ecc200;
    background-size: cover;
    background-position: center;
    line-height: 13px;
    width: 32px;
    height: 42px;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    -moz-box-align: center;
    -webkit-box-align:center;
    box-align:center;
    -moz-box-pack:center;
    -webkit-box-pack:center;
    box-pack:center;
    display: -webkit-box;
    display: box;
    display: -moz-box;
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
}

.table .title .type{
    -moz-transform:scale(0.7,0.7);
    -webkit-transform:scale(0.7,0.7);
    -o-transform:scale(0.7,0.7);
    transform: scale(0.7,0.7);
    margin-top: -25%;
}

.table .showMore{
    margin-top: 5px;
}

.table .showMore div{
    display: inline-block;
    cursor: pointer;
}

.table .showMore span{
    padding-left:5px;
    cursor: pointer;
    color: #F3511E;
}

table{
    text-align: center;
    table-layout: fixed;
    width: 100%;
}

table tr{
    line-height: 15px;
}

table tr td{
    padding:5px 2px;
    word-wrap: break-word;
    word-break: break-all;
    white-speace: normal;
    color: #5a5b5c;
}

thead{

}

thead tr th{
    text-align: center;
    padding: 2px 3px;
    font-weight: bold;
}

thead tr th div{
    display: inline-block;
    padding: 0 0;
    border-radius: 5px;
    border:1px solid #00cfad;
    width: 100%;
    color: #00cfad;
    margin-bottom: 10px;
}

thead tr th div p{
    padding: 8px 10px;
}

tbody .even{
    background-color: #F5FAFE;
}

tbody tr .text div{
    display: block;
    width: 200%;
    margin-left: -50%;
    color: #585755;
}

tbody tr .last{
    color: #d6a57c;
}


.number{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    line-height: 20px;
    color: white;
    background-color:#f6501e;
}

.footer{
    position: fixed;
    bottom: 0;
    left:0;
    margin: 0 auto;
    width: 100%;
    padding: 15px 0;
    background-color: #f6501e;
    color: #fff;
}

.footer p{
    line-height: 20px;
}

/*--------------------------------------------------------------------------------------------------------------------*/
.blur .title{
    /*background-color: #85275D;*/
    background-image: url(../images/dialog.png);
}

.blur .number{
    background-color: #f6501e;
}

.blur thead tr th div{
    color: #00cfad;
    /*text-overflow: ellipsis;*/
    /*white-space: nowrap;*/
    /*word-break: break-all;*/
}

/*--------------------------------------------------------------------------------------------------------------------*/

.jtt{
    border-width: 0 5px 5px 5px !important;
    border-style: none solid solid solid !important;
    border-color: #f6501e transparent;
    width: 0;
    height: 0;
    margin: 10px auto 0px;
}

.jtb{
    border-width: 5px 5px 0 5px;
    border-style: solid solid none solid;
    border-color: #f6501e transparent;
    width: 0;
    height: 0;
    margin: 10px auto 0px;

    /*animation: myfirst 1s infinite ease;*/
    /*-moz-animation: myfirst 1s infinite ease;	!* Firefox *!*/
    /*-webkit-animation: myfirst 1s infinite ease;	!* Safari 和 Chrome *!*/
    /*-o-animation: myfirst 1s infinite ease;	!* Opera *!*/
}


@keyframes myfirst
{
    from {
        top:0px;}
    to {
        top:3px;}
}

@-moz-keyframes myfirst /* Firefox */
{
    from {
        top:0px;}
    to {
        top:3px;}
}

@-webkit-keyframes myfirst /* Safari 和 Chrome */
{
    from {
        top:0px;}
    to {
        top:3px;}
}

@-o-keyframes myfirst /* Opera */
{
    from {
        top:0px;}
    to {
        top:3px;}
}