<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title><%= title %></title>
</head>
<body>
	<div><%= url%></div>
	<div id="app"></div>
	<script src="dest/common_webGL.js"></script>
	<script src="dest/webGL.js"></script>
</body>
</html>