<!DOCTYPE html>
<html manifest='index.appcache'>
<head>
	<meta charset="utf-8">
	<title><%= title %></title>
	<link rel="stylesheet" href="/css/base.css"/>
    <link rel="stylesheet" href="/css/common.css"/>
    <link rel="stylesheet" href="/css/<%=css%>"/>
    <script src="/lib/other/jquery.min.js"></script>
    <!-- <script src="/lib/other/echarts.js"></script> -->
    <script src="/lib/other/echarts-all.js"></script>

    <link rel="stylesheet" href="/css/mmnt.css" />
    <script src="../lib/other/mmnt-info.js"></script>

    <script type="text/javascript">

    if(window.applicationCache){
        console.log("支持离线缓存");
    }
    else{
        console.log("不支持离线缓存");
    }


    var appCache = window.applicationCache;
    switch (appCache.status) { 
    case appCache.UNCACHED: // UNCACHED == 0 
        console.log('0 === 未缓存');
        break; 
    case appCache.IDLE: // IDLE == 1 
        console.log('1 === 空闲（缓存为最新状态）');
        break; 
    case appCache.CHECKING: // CHECKING == 2 
        console.log('2 === 检查中');
        break; 
    case appCache.DOWNLOADING: // DOWNLOADING == 3 
        console.log('3 === 下载中');
        break; 
    case appCache.UPDATEREADY: // UPDATEREADY == 4 
        console.log('4 === 更新就绪');
        break; 
    case appCache.OBSOLETE: // OBSOLETE == 5 
        console.log('5 === 缓存过期');
        break; 
    default: 
        console.log('不识别的缓存状态');
        break; 
    };

    appCache.update(); // Attempt to update the user's cache.  

    if (appCache.status == window.applicationCache.UPDATEREADY) {  
        appCache.swapCache(); // The fetch was successful, swap in the new cache.  
    }

    if (typeof document.addEventListener != "undefined") { 
         window.applicationCache.addEventListener('updateready',function(e){
            if(window.applicationCache.status == window.applicationCache.UPDATEREADY){
                window.applicationCache.swapCache();
                
                if(confirm("loding new?")){
                    window.location.reload()
                }
            }
        },false);
    } else { 
         window.applicationCache.attachEvent('onupdateready',function(e){
            if(window.applicationCache.status == window.applicationCache.UPDATEREADY){
                window.applicationCache.swapCache();
                
                if(confirm("loding new?")){
                    window.location.reload()
                }
            }
        });
    } 
   
    	console.log('<%= url%>');
    </script>
</head>
<body>
	<div id="app"></div>
	<script src="/dest/common.js"></script>
	<script src="/dest/router.js"></script>

    <script>
         function myScroll() 
        { 
            //前边是获取chrome等一般浏览器 如果获取不到就是ie了 就用ie的办法获取 
            var x=document.body.scrollTop||document.documentElement.scrollTop; 
            var timer=setInterval(function(){ 
                x=x-200; 
                if(x<100) 
                { 
                    x=0; 
                    window.scrollTo(x,x); 
                    var oDiv = document.getElementById('go_top'); 
                    oDiv.style.display = 'none';
                    clearInterval(timer); 
                } 
                window.scrollTo(x,x); 
            },30); 
        }

        var scrollFunc=function(e){
            var x = document.body.scrollTop||document.documentElement.scrollTop; 
            if(x<=0){
                var oDiv = document.getElementById('go_top'); 
                oDiv.style.display = 'none';
            }
            else{
                var oDiv = document.getElementById('go_top'); 
                oDiv.style.display = 'block';
            }
        }  
        /*注册事件*/  
        if(document.addEventListener){  
            document.addEventListener('DOMMouseScroll',scrollFunc,false);  
            document.getElementById('go_top').addEventListener('click',myScroll,false);  
        }//W3C  
        window.onmousewheel=document.onmousewheel=scrollFunc;//IE/Opera/Chrome/Safari  
        document.getElementById('go_top').onClick = myScroll;

        scrollFunc();
    </script>
</body>
</html>