* {
    -webkit-overflow-scrolling : touch;
    color: #a0a0a0;
}

body {
     padding-top: 70px;
     padding-bottom: 50px;
}

h3 {
    color: #000;
}

.title{
    color: #787878;
    text-align: center;
    margin-bottom: 40px;
}

.title i{
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: 0 10px 4px;
    background-color: #787878;
    display: inline-block;
}


/*分享*/
.share {
    
}

.share span{
    display: inline-block;
    height: 30px;
    vertical-align: bottom;
}

.share a{
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: inline-block;
    background-image: url(../images/share-a_z.png);
    background-position: 4px -200px;
    background-repeat: no-repeat;
}

.share .xl{
    background-position: 4px -160px;
}

/*五角星*/
.star-five-all{
    overflow: hidden;
    display: inline-block;
}

.star-five {  
    transform: scale(0.5);
    margin: 15px 0px;  
    position: relative;  
    display: block;  
    color: #f8b62b;  
    width: 0px;  
    height: 0px;  
    float: left;
    border-right: 20px solid transparent;
    border-bottom: 14px solid #f8b62b;
    border-left: 20px solid transparent;
    -moz-transform:    rotate(35deg) scale(0.5);  
    -webkit-transform: rotate(35deg) scale(0.5);  
    -ms-transform:     rotate(35deg) scale(0.5);  
    -o-transform:      rotate(35deg) scale(0.5);  
    transform:      rotate(35deg) scale(0.5);  
}  

.star-five:before {  
    border-bottom: 16px solid #f8b62b;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    position: absolute;  
    height: 0;  
    width: 0;  
    top: -10.5px;
    left: -15.5px;
    display: block;  
    content: "";  
    -webkit-transform: rotate(-35deg);  
    -moz-transform:    rotate(-35deg);  
    -ms-transform:     rotate(-35deg);  
    -o-transform:      rotate(-35deg);  
    transform:      rotate(-35deg);  
  
} 

.star-five:after {  
    position: absolute;  
    display: block;  
    color: #f8b62b;  
    top: 3px;  
    left: -24px;  
    width: 0px;  
    height: 0px;  
    border-right: 20px solid transparent;  
    border-bottom: 14px solid #f8b62b;  
    border-left: 20px solid transparent;  
    -webkit-transform: rotate(-71deg);  
    -moz-transform:    rotate(-71deg);  
    -ms-transform:     rotate(-71deg);  
    -o-transform:      rotate(-71deg);  
    transform:      rotate(-71deg);  
    content: "";  
} 


/*头部菜单******************************************************************************************************************************/
.navbar {
    padding-top: 30px;
    margin-bottom: 0;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 0 15px;
    font-size: 18px;
    line-height: 20px;
    margin-top: -15px;
}

.navbar-default{
    background-color: #ffffff;
    border-color: #f8b62b;
}

.navbar-right{
    margin-right: 0;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
    color: #a0a0a0;
}

.nav > li > a:hover,
.nav > li > a:focus {
    color: #f9bb40;
    text-decoration: none;
    background-color: #eee;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #f9bb40;
    background-color: transparent;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #f9bb40;
    background-color: transparent;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #f9bb40;
    background-color: transparent;
}


.navbar-default .navbar-nav > li.lang > a {
    display: inline-block;
    padding-left: 3px;
    padding-right: 3px;
}

.navbar-default .navbar-nav > li.lang > a.active,
.navbar-default .navbar-nav > li.lang > a:hover,
.navbar-default .navbar-nav > li.lang > a:focus {
    color: #333;
    background-color: transparent;
}

.navbar .dropdown-menu > li > a {
    text-align: center;
    color: #a0a0a0;
}

@media (max-width: 767px){
    .navbar .dropdown-menu > li > a {
        text-align: left;
    }
}

.navbar .dropdown-menu > li > a:hover,
.navbar .dropdown-menu > li > a:focus {
  color: #f9bb40;
}


/*banner图******************************************************************************************************************************/

.banner {

}


.banner .carousel-inner .item > img {
    margin: auto;
    width: 100%;
    height: 500px;
}

/*关于信息******************************************************************************************************************************/


.featurette-divider {
    margin-top: 100px;
    margin-bottom: 30px;
}

footer {
    text-align: center;
}

footer ul {
    margin: 30px auto;
    overflow: hidden;
    list-style: none;
    display: inline-block;
    padding: 0;
}


footer ul li {
    float: left;
}

footer ul li a {
    position: relative;
    display: block;
    color: #a0a0a0;
    padding: 10px 15px;
    text-decoration: none;
}

footer ul li a:hover {
    color: #000;
    text-decoration: none;    
}












