*{
    -webkit-overflow-scrolling : touch;
}

.navbar {
    margin-top: 30px;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 0 15px;
    font-size: 18px;
    line-height: 20px;
    margin-top: -15px;
}

.navbar-default{
    background-color: #ffffff;
    border-color: #f8b62b;
}

.navbar-default .navbar-brand {
    color: #a0a0a0;
}

.navbar-default .navbar-nav > li > a {
    color: #a0a0a0;
}

.nav > li > a:hover,
.nav > li > a:focus {
    color: #f9bb40;
    text-decoration: none;
    background-color: #eee;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #f9bb40;
background-color: transparent;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #f9bb40;
    background-color: transparent;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #f9bb40;
    background-color: transparent;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #333;
    background-color: transparent;
}